.call-container{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
    background-color: #e6b790;
    margin: 20px 0;
    padding: 20px;

}

.call-card{
    background-color: white;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 20px 1px #1b2d45;
    border: 1px solid #00214d;

}

.call-card:hover{
    box-shadow:-5px 5px 10px 1px #001633;
    cursor: pointer;
    color: #262626;
    background-color: #a6a6a6;
}

.call-icon{
    height: 100px;
    display: block;
    margin: 10px auto;
}

.call-title{
    margin: 0;
    padding: 0;
    font-size: 20px;
    
}

.call-discription{
    font-size: 14px;
    margin-top: 0;

}

.call-discription:hover{
    color: white;
}

.call-buuton{
    background-color: #004d41
    ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px 10px;

}
.call-buuton:hover{
    border-radius: 20px;
    transition:1se;
    cursor: pointer;

}