.subtitle-highlights{
    background-color: #ff5470;
    padding: 1px 10px;
    border-radius: 5px;
}

.Why-choosus-heading{
    margin: 70px 0px;
    

}

.Why-choosus-card{
    background-color:red;

}