@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Kalnia+Glaze:wdth,wght@100..125,100..700&family=Oswald:wght@200..700&display=swap');

body{
background-color: #fffffe;
padding: 0;
margin: 0;
}

.gupter-regular {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gupter-medium {
    font-family: "Gupter", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .gupter-bold {
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
  }
  

.bg-light{
    background-color: #fffffe;

}

.bg-primary{
    background-color: #00ebc7;

}

.bg-secondary{
background-color: #ff5470;
}

.text-primary{
    color: #00ebc7;
}

.text-secondary{
    color: #ff5470;
}

.text-dark{
    color: #00214d;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 10px 30px;
    margin: 20px auto;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px #fffffe;
    color: #00214d;
    text-decoration:none;
}

.btn-primary{
    background-color: #00ebc7;
    height: 50px;
    
}

.btn-secondary{
    background-color: #ff5470;
    height: 50px;
}

.no-underline{
    text-decoration: none;
}

.fs-50{
    font-size: 50px;
}

.center-iteams{
    align-items:end;
    display: block;
    margin: 10px auto;
    height: 50px;
}